@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color: #ffffff;
  --border: 1px solid black;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  height: 5rem;
  background-color: #564d58;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  color: var(--color);
}

input,
select {
  font-family: inherit;
}

input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

select {
  margin-left: 0.5rem;
}

#title {
  text-align: center;
  margin-bottom: 2rem;
}

.form-container,
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.msg {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
}

.success-alert {
  background-color: #3464e9;
}

.danger-alert {
  background-color: #eb4034;
}

label {
  width: 10rem;
  height: 2rem;
  display: inline-block;
}

#firstname,
#lastname,
#email,
#phonenumber {
  width: 15rem;
  height: 2.5rem;
  border-radius: 5px;
  border: var(--border);
  font-family: inherit;
  padding: 0 0.5rem;
}

#update-firstname,
#update-lastname,
#update-email,
#update-phonenumber {
  height: 2.5rem;
  border-style: none;
}

#update-firstname,
#update-lastname {
  min-width: 3rem;
}

#update-email,
#update-phonenumber {
  min-width: 13rem;
}

table,
th,
td {
  border: var(--border);
  border-collapse: collapse;
  text-align: center;
  padding: 0.5rem;
  /* border-style: none; */
}

td {
  text-align: center;
}

table {
  margin: 0 2rem;
}

th {
  background: linear-gradient(#a984d1, #ddaee3);
  color: var(--color);
  padding: 1rem 0.5rem;
}

a {
  color: var(--color);
}

a.hover {
  background-color: #6b4874;
}

.btn {
  width: 5rem;
  height: 2.5rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
}

.btn:hover {
  background-color: #6b4874;
  color: var(--color);
  transform: scale(1.1);
}

.updateBtn,
.submitBtn {
  background-color: #f3f3f3;
}

.deleteBtn {
  margin-left: 0.5rem;
  color: #ffffff;
  background-color: brown;
}

.gender {
  width: 5.5rem;
}

@media (max-width: 957px) {
  .form-group {
    margin-left: 2rem;
    width: 100%;
  }

  #update-email,
  #update-phonenumber {
    min-width: 10rem;
  }
  .output-container {
    width: 100%;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  td:before {
    position: absolute;

    top: 20%;
    left: 6px;
    width: 45%;
    padding-right: 15px;
    padding-top: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "ID";
  }
  td:nth-of-type(2):before {
    content: "First Name";
  }
  td:nth-of-type(3):before {
    content: "Last Name";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Phone Number";
  }
  td:nth-of-type(6):before {
    content: "Gender";
  }
  td:nth-of-type(7):before {
    content: "Update/ Delete";
  }
}

@media (max-width: 575px) {
  form {
    width: 100%;
    padding: 2rem 0;
    gap: 1rem;
  }

  form div {
    padding: 0;
  }

  .gender {
    width: 4.5rem;
  }
}
